@model ResumeProject.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duties)
        </dt>
        <dd>
            @foreach (var duty in Model.Duties)
            {
                @Html.DisplayFor(model => duty.DutiesPerformed)
            }
          
        </dd>

        

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JobID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
